
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  max-width: 1800px;
  margin: auto;
  padding: 2px;
  border-radius: 4px;
  max-width: 100%;
  overflow-x: hidden;

}

.body {
  height: 100vh;
  width: auto;
  margin: 0.5rem;
}



/* ---------- IMAGES ------------------------- */

.box-image {
  width: 300px;
  height: 200px;
}

.picsumImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  height: 20rem;
  width: auto;
  border-radius: 4px;
}
  .omoss-img {
  height: 8rem;
  border-radius: 50%;
  border: solid 1px #c39ea0;
  }

 .homeBoxImage {
   height: 300px;
   width: auto;
  
  }

  /* ---------- STAFF ------------------------- */


  .staff-container {
    display: flex;
    margin-top: 2rem;
  }
  
  .staff-presentation {
    display: flex;
    flex-direction: column;
  }

  h5 {
    font-size: 1rem;
  }

  .staff-details {
    color: gray;
    font-size: 0.9rem;
  }

  .page-text {
    padding: 1rem;
  }


/*  ----------------NAVBAR--------------------------*/

.Navbar {
  height: 100px;
  width: 100%;
  background-color: #1D1D1D;
  color: white;
  display: flex;
}
  

/* -------------  LEFT SIDE  ---------------------  */

.Navbar .leftSide {
  flex: 50%;
}

#nav-logo {
  margin-right: auto;
  margin-left: 2rem;
  font-size: 2rem;
  font-family: 'Inter', sans-serif;

}


/* -------------  RIGHT SIDE  ---------------------  */


.Navbar .rightSide {
  flex: 50%;
  transition: 0.7s ease;

}

.Navbar .rightSide button{
  display: none;
  margin-right: 3rem;
  width: auto;
  padding: 8px;
}

.Navbar .rightSide #hidden {
  display: flex;
  align-items: flex-end;
}
  
.Navbar .rightSide .links {
  max-height: 100px;
  display: flex;
  align-items: flex-end;
  transition: 0.7s ease;
  padding-top: 2rem;
}
    
.Navbar .rightSide .links a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

#nav-links {
  transition: 0.5s ease;
}

#nav-links:hover {
  color: #c39ea0;
}

.nav-item {
  transition: 0.5s ease;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  color: gray;
}

/*  ---------  HOME ----------------------------- */
.home {
  min-height: 100vh;
  background-color:#EFEFEF;
}

.home-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.5fr 1fr;
  grid-template-areas: 
  "one one one"
  "two three four"
  "five five five";
  height: 1200px;
  gap: 12px;
  border: solid 1px #373A33;
}

.box {
  width: 100%;
  height: 100%;
  text-align: center;
  border: solid 1px #373A33;
}

.one {
  grid-area: one;
  background-color: #7dd1be;
  color: #181a19;
}

.two {
  grid-area: two;
  background-color: white;
}

.three {
  grid-area: three;
  background-color: lightgrey;
}

.four {
  grid-area: four;
  background-color: white;
  
}

.five {
  grid-area: five;
  background-color: #373A33;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 3rem;
 }

.boxTitle {
  font-size: 2rem;
}

.boxText {
  font-size: 1.2rem;
}

.box.one, .box.five {
  display: flex;
  justify-content:space-between;
}

.box.two, .box.three, .box.four {
  display:flex;
  flex-direction:column;
}

.box-image {
  height: auto;
  width: 300px;
}

.box-image2 {
  height: auto;
  width: 250px;
}

.box-image3 {
  height: auto;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.MXbannerInfo {
  display: flex;
  flex-direction: column;
}

.MXbannerTitle {
  font-size: 2rem;
}

.MXbannerText {
  font-size: 1.5rem;
  width: auto;

}

.MXbannerTextKontakt {
  font-size: 1.5rem;
}

.btn {
  background-color: lightgreen;
  padding: 0.7rem;
  border-radius: 8px;

  
}


/* --------------  PAGES  ---------------------
------------------------------------------------*/

.rubrik-sida {
  display: flex;
  flex-direction: column;
  background-color: lavenderblush;
  padding: 2rem;
}

.rubrik-pages {
  text-align: center;
  margin: 2rem;
}

.dev-comments {
  color: black;
  font-size: 1.5rem;
  text-align: center;
}

.page-text {
  font-size: 1rem;
}

/* --------------  TJÄNSTER  ---------------------*/


.dev-comments {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.tjansterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.tjansterBoxEcom {
  background-color: #7dd1be;
  height: auto;
  padding: 1rem 0 1rem 0;
  padding: 2rem;
}

.tjansterBox {
  height: auto;
  padding: 1rem 0 1rem 0;
  padding: 2rem;

}

.tjansterTitle {
  text-align: center;
}

.tjansterTitleEcom {

}

.space {
  margin: 1rem;
}


/* --------------  KONTAKT  ---------------------*/

.contact-form {
  border: solid 1px black;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

input {
  display: flex;
  justify-content: center;
  height: 2rem;
  font-size: 1.2rem;
  border: solid 1px black;
  width: 80vw;
}

textarea {
  font-size: 1.2rem;
  border: solid 1px black;
  display: flex;
  width: 80vw;
}

.input-box {
  margin-top: 1rem;
  display: flex;
}

label {
  margin: 1rem;
}

.submit {
  width: 7rem;
  height: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: lightgreen;
}

.submit:hover {
  background-color: green;
}
/* --------------  PRODUKTER  ---------------------*/

.productContainer {
display: flex;
flex-wrap:wrap;


}

.product-box {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  border: solid 1px lightGray;
  height: auto;
}

.produkt-img {
height: 150px;
}

.productTitle, .productDescription, .productPrice {
font-size: 0.7rem;
}

.productLink {
font-size: 0.7rem;
}
/* --------------  Data  ---------------------*/

.dataFetching {
  min-height: 100vh;
}

.productSection {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  border: solid 1px gray;
}

.productBox {
  display: flex;
  flex-direction: column;
  min-height: 12rem;
  justify-content: flex-start;

}

.product-id {
  font-size: 0.7rem;
  width: 150px;
  text-align: center;
}

.productImage {
  border: solid 2px gray;
  height: 200px;
  width: 200px;
}

.produktTitel {
width: 150px;
text-align: center;
}

.product-info {
  width: 150px;
  font-size: 0.7rem;;
}

.browseBtns {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.prevBtn {
  padding: 0.5rem;
  width: 6rem;
  background-color: lightsteelblue;
}

.nextBtn {
  padding: 0.5rem;
  width: 6rem;
  background-color: lightGreen;
}


/* --------------  FOOTER  ---------------------*/
.footer {
  display: flex;
  color:white;
  background-color: #1D1D1D;
  height: 70px;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  
}

/* ---------Below - for TABLETS -------------*/
@media (max-width:1000px) {
  
#nav-logo {
  margin-right: auto;
  margin-left: 2rem;
  font-size: 1.5rem;
}
  
  
.home-container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "one one"
  "two three"
  "four five";
}
.MXbannerTextKontakt {
  font-size: 1.2rem;
}


.boxTitle {
  font-size: 1rem;
}

.boxText {
  font-size: 1rem;
}

}

/* ---------Below - for MOBILE ------------------*/
@media (max-width:750px) {

.Navbar .leftSide {
  flex: 50%;
}

.Navbar .rightSide {
  flex: 50%;
  transition: 0.7s ease;
}

#nav-logo {
  margin-right: auto;
  margin-left: 2rem;
  font-size: 1.2rem;
}

.burger-div {
  display:flex;
  flex-direction: column;
  margin-left: 2rem;
  align-items: center;

}

.burger-icon {
  width: 35px;
  height: 1px;
  background-color: white;
  margin: 3px 0;
 }

.Navbar .rightSide .links {
  display: none;
}


 #hidden {
  position: absolute;
  right: 1.6%;
  width: 96.8%;
  padding: 2px;
  background-color: #1D1D1D;
  top: 100px;
  max-height: 250px;
  display: flex;
  flex-direction: column;
} 


#hidden a {

  font-size: 18px;
  flex-direction: column;
  color: white;
  }

  .box {
    width: 100%;

    text-align: center;
    border: solid 1px #373A33;
  }

  .staff-container {
    display: flex;
    flex-direction: column;
  }
  
  .staff-presentation {
    display: flex;
    flex-direction: column;
  }

  h5 {
    font-size: 1rem;
  }

  .staff-details {
    color: gray;
    font-size: 0.9rem;
  }

  .boxTitle {
    font-size: 1rem;
  }
  
  .boxText {
    font-size: 0.5em;
  }
  .MXbannerTextKontakt {
    font-size: 0.9rem;
  }
  

  .MXbannerTitle {
    font-size: 1.3rem;
  }

  .MXbannerText {
    font-size: 0.9rem;
    width: auto;
  
  }

  .productImage {
    border: solid 2px gray;
    height: 150px;
    width: 150px;
  }

    .home-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four"
    "five";
    }
}

